<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="res/layui/css/layui.css">
<!--    <link rel="stylesheet" href="res/css/global.css">-->
</head>
<body>
<div style="border: 1px solid red">123456</div>
<div class="fly-footer" th:fragment="footbar1">
    <p>
        <a href="http://fly.layui.com/" target="_blank">首页</a> 2017 &copy;
        <a href="http://www.layui.com/" target="_blank">xxx出品</a>
    </p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">支持作者</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取源码</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">联系作者</a>
    </p>
</div>
</body>
</html>