<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="res/layui/css/layui.css">
    <link rel="stylesheet" href="res/css/global.css">
</head>
<body>
<div class="fly-header layui-bg-black" th:fragment="topbar1">
    <div class="layui-container">
        <a class="fly-logo" href="javascript:void(0)">
            <img src="res/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="https://github.com/2298814528/myblog"><i class="iconfont icon-jiaoliu"></i>源码</a>
            </li>
            <!--            <li class="layui-nav-item">-->
            <!--                <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>-->
            <!--            </li>-->

            <li class="layui-nav-item">
                <a th:href="@{/technology}" target="_blank"><i class="iconfont icon-ui"></i>所用技术</a>
            </li>
        </ul>
        <!-- 未登入的状态 -->
        <ul class="layui-nav fly-nav-user" th:if="${#strings.isEmpty(session.username)}">
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang layui-hide-xs" th:href="@{/login}"></a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/login}">登录</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/register}">注册</a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入"
                   class="iconfont icon-qq"></a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入"
                   class="iconfont icon-weibo"></a>
            </li>
        </ul>
        <!-- 登入后的状态 -->
        <ul class="layui-nav fly-nav-user" th:if="${not #strings.isEmpty(session.username)}">
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:void(0);">
                    <cite class="layui-hide-xs" th:text="${session.username}">xxx</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：zjj"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="${session.vipLevel}">VIP0</i>
                    <img  th:src="'upload/'+${session.avatar}">
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/set}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a th:href="@{/message}"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a th:href="@{/home}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a th:href="@{/logout}" style="text-align: center;">退出</a></dd>
                </dl>
            </li>

        </ul>
    </div>
</div>

<div class="fly-panel fly-column" th:fragment="topbar2">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/index}">提问</a></li>
            <li><a th:href="@{/index}">分享<span class="layui-badge-dot"></span></a></li>
            <li><a th:href="@{/index}">讨论</a></li>
            <li><a th:href="@{/index}">建议</a></li>
            <li><a th:href="@{/index}">公告</a></li>
            <li><a th:href="@{/index}">动态</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

            <!-- 用户登入后显示 -->
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a th:href="@{/index}">我发表的贴</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a th:href="@{/index}">我收藏的贴</a>
            </li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a th:href="@{/add}" class="layui-btn">发表新帖</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block"
             style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
            <a th:href="@{/add}" class="layui-btn">发表新帖</a>
        </div>
    </div>
</div>
</body>
</html>