<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="登录">
    <meta name="description" content="登录界面">
    <link rel="stylesheet" href="res/layui/css/layui.css">
    <link rel="stylesheet" href="res/css/global.css">
</head>
<body>
<div th:replace="common/header::topbar1"></div>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a th:href="@{/register}">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post" th:action="@{/loginUser}" action="/loginUser" id="from"
                              onsubmit="return check()">
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="username" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required"
                                           placeholder="请输入验证码" autocomplete="off" class="layui-input">
                                </div>
                                <img th:src="@{/code}" id="CheckCode">
                            </div>
                            <div class="layui-form-item">
                                <input type="submit" class="layui-btn" value="立即登录"></input>

                                <span style="padding-left:20px;">
                  <a th:href="@{/forget}">忘记密码？</a>
                </span>
                            </div>
                            <div class="layui-form-item fly-form-app">
                                <span>或者使用社交账号登入</span>
                                <a href="javascript:" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})"
                                   class="iconfont icon-qq" title="QQ登入"></a>
                                <a href="javascript:" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})"
                                   class="iconfont icon-weibo" title="微博登入"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script src="res/layui/layui.js" type="application/javascript" charset="utf-8"></script>
<script src="js/footer.js" charset="utf-8"></script>
<script type="text/javascript" language="JavaScript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(
        unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='"
            + cnzz_protocol
            + "w.cnzz.com/c.php%3Fid%3D30088308' "
            + "type='text/javascript'%3E%3C/script%3E")
    );
</script>
<script type="text/javascript" th:src="@{/jq/jquery-3.4.1.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        const error = /*[[${session.error}]]*/ {};
        if ($.trim(error)) {
            alert(error)
        }
        //刷新验证码
        $(document).on('click', "img[id='CheckCode']", function () {
            var date = new Date();
            this.src = this.src + "?" + date;
        });
    })
</script>
<script th:inline="javascript" type="text/javascript">
    var code;
    var checkCode;

    function check() {
        checkCode = $("#L_vercode").val();
        $.ajax({
            url: 'codes',
            method: 'POST',
            dataType: 'json',
            async: false,
            success: function (data) {
                code = data["code"];
            },
            error: function (data) {
                alert("服务器错误");
                return false;
            }
        });
        if (checkCode.toLowerCase() == code) {
            return true;
        } else {
            alert("验证码错误，请重新输入！");
            return false;
        }
        return false;
    }
</script>
</body>
</html>