<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>我的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="测试博客">
    <meta name="description" content="主页">
    <link rel="stylesheet" href="res/layui/css/layui.css">
    <link rel="stylesheet" href="res/css/global.css">
</head>
<body>

<div th:replace="common/header::topbar1"></div>

<div th:replace="common/header::topbar2"></div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div th:replace="common/left::left"></div>
        <div th:replace="common/right::right"></div>
    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script src="res/layui/layui.js" type="application/javascript" charset="utf-8"></script>
<script src="js/footer.js" charset="utf-8"></script>
<script type="text/javascript" language="JavaScript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(
        unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='"
            + cnzz_protocol
            + "w.cnzz.com/c.php%3Fid%3D30088308' "
            + "type='text/javascript'%3E%3C/script%3E")
    );
</script>
<script type="application/javascript" src="js/common.js"></script>
<script type="text/javascript" th:src="@{/jq/jquery-3.4.1.min.js}"></script>
<script th:inline="javascript" type="text/javascript">
    $.ajax({
        url: "blog",
        method: "POST",
        dataType: 'JSON',
        async: false,
        data: {'current': 1, 'size': 5},
        success: function () {
            console.log("success");
        },
        error: function () {
            console.log("error");
        }
    })
</script>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        var msg;
        $(document).on('click', "button[id='SignBtn']", function () {
            const user = /*[[${session.username}]]*/ {};
            if (user == null || user == "") {
                alert("请先登录")
            } else {
                $.ajax({
                    url: 'signIn',
                    method: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json',
                    data: {
                        user: user
                    },
                    success: function (data) {
                        $("button[id='SignBtn']").attr("disabled", true)
                        $("button[id='SignBtn']").addClass("layui-btn-disabled");
                        msg = data["msg"];
                        alert(msg);
                    },
                    error: function (data) {
                        // $("button[id='SignBtn']").attr("disabled",true);
                        // $("button[id='SignBtn']").addClass("layui-btn-disabled");
                        alert("签到失败");
                    }
                });
            }
        })
    })
</script>
<script th:inline="javascript" type="text/javascript">
    $(document).on('click', "a[name='page']", function () {
        $("a[class='laypage-curr']").removeClass();
        $("a[class !='laypage-next'][name='page']").addClass("laypage-next");
        $(this).removeClass();
        $(this).addClass("laypage-curr");
    });
</script>
</body>
</html>