<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="res/layui/css/layui.css">
    <link rel="stylesheet" href="res/css/global.css">
</head>
<body>
<img th:src="'upload/'+${session.avatar}">
<input type="button" disabled="disabled" value="123">
<input type="button" disabled value="123">
<input type="button" value="123">
<i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #1E9FFF;">&#xe60c;</i>
</body>
</html>